@model ProjectA.Models.Page

@{
    ViewData["Title"] = "Thông tin page" + Model.PageName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="fa fa-house"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">Danh sách page</a>
            <span class="breadcrumb-item active">Thông tin page: @Model.PageName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin page: @Model.PageName</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>Tên page</td>
                    <td class="text-dark font-weight-semibold">@Model.PageName</td>
                </tr>
                <tr>
                    <td>Nội dung</td>
                    <td class="text-dark font-weight-semibold">@Model.Contents</td>
                </tr>
                <tr>
                    <td>Published</td>
                    <td class="text-dark font-weight-semibold">@Model.Published</td>
                </tr>
                <tr>
                    <td>Tựa đề</td>
                    <td class="text-dark font-weight-semibold">@Model.Title</td>
                </tr>
                <tr>
                    <td>Ngày tạo</td>
                    <td class="text-dark font-weight-semibold">@Model.CreatedDate</td>
                </tr>
                <tr>
                    <td>Ảnh đại diện</td>
                    <td class="text-dark font-weight-semibold"><img width="200" height="200" src="~/images/pages/@Model.Thumb" alt="@Model.Title" /></td>
                </tr>
                <tr>
                    <td>Ordering</td>
                    <td class="text-dark font-weight-semibold">@Model.Ordering</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
