@model ProjectA.Models.Post

@{
    ViewData["Title"] = "Xác nhận xóa bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="fa fa-house"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminPosts" asp-action="Index">Danh sách bài viết</a>
            <span class="breadcrumb-item active">Thông tin bài viết</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin bài viết muốn xóa</h4>
        <div class="table-responsive">
            <form asp-action="Delete" asp-action="Delete" asp-route-id="@Model.PostId">
                <table class="table table-striped">
                    <input type="hidden" asp-for="PostId" />
                    <tr>
                        <td>Tiêu đề</td>
                        <td class="text-dark font-weight-semibold">@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Nội dung</td>
                        <td class="text-dark font-weight-semibold">@Html.Raw(Model.Contents)</td>
                    </tr>
                    <tr>
                        <td>Published</td>
                        <td class="text-dark font-weight-semibold">@Model.Published</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo</td>
                        <td class="text-dark font-weight-semibold">@Model.CreatedDate</td>
                    </tr>
                    <tr>
                        <td>Tác giả</td>
                        <td class="text-dark font-weight-semibold">@Model.Author</td>
                    </tr>
                    <tr>
                        <td>Bài viết hot</td>
                        <td class="text-dark font-weight-semibold">@Model.IsHot</td>
                    </tr>
                    <tr>
                        <td>Is newfeed</td>
                        <td class="text-dark font-weight-semibold">@Model.IsNewfeed</td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td class="text-dark font-weight-semibold">@Model.Tags</td>
                    </tr>
                    <tr>
                        <td>Lượt xem</td>
                        <td class="text-dark font-weight-semibold">@Model.Views</td>
                    </tr>
                    <tr>
                        <td>Ảnh</td>
                        <td class="text-dark font-weight-semibold"><img width="200" height="200" src="~/images/posts/@Model.Thumb" alt="@Model.Title" /></td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa</td>
                        <td>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </td>
                        <td>
                            <a asp-action="Index">Back to List</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

