@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ProjectA.Models.Product>

@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm " + currentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="index" class="breadcrumb-item"><i class="bi bi-house"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm : page @currentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-12">
                <div class="d-md-flex justify-content-between">
                    <form class="form-inline">
                        <input id="keyword" class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm sản phẩm">
                    </form>
                    <div>
                        <select class="form-select" id="txtCatID" name="catID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                            <option selected>Chọn danh mục</option>
                            <option value="0">Tất cả</option>
                        </select>
                    </div>
                    <div>
                        <select class="form-select" id="idstatus" name="idstatus" style="min-width: 200px;" asp-items="ViewBag.IsTrangthai">
                            <option value="" disabled selected>Status</option>
                        </select>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-controller="AdminProducts" asp-action="Create"> <i class="fa fa-circle-plus"></i><span> Add product</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.Cat?.CatName</td>
                                <td>@item.Price.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.UnitInStock</td>
                                <td>
                                    @if (item.UnitInStock != null && item.UnitInStock.Value > 0)
                                    {
                                        <div class="d-flex align-item-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>In Stock</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-item-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Out of stock</div>
                                        </div>
                                    }
                                </td>

                                <td>
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId">View</a>
                                    <a class="btn btn-secondary" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                    <a class="btn btn-success" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                </td>

                            </tr>
                        }
                    }
                </tbody>

            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option').removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true")

                $.ajax({
                    url: '/Admin/AdminProducts/Filtter',
                    dataType: "Json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                })
            })
        });

    </script>
}
